@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #121212;
}

/* HEADER */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: aqua;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.ativado{
    color: aqua;
}

/* BANNER */

.banner {
    height: fit-content;
    padding: 40px 0;
    color: white;
    background-image: url("../assets/img/index/banner-index.jpg");
    background-size: cover;
  }
  
  .banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
  }
  
  .banner p {
    margin-left: 100px;
    margin-top: 50px;
    padding: 0;
    width: 280px;
    font-size: 36px;
  }
  
  .banner .container span {
    font-weight: 800;
  }

  /* SOBRE */

  .social {
    background-color: #121212;
    display: flex;
  }
  
  .social .container{
    justify-content: center;
  }
  
  .box img {
    width: 170px;
  }
  
  .social .container .boxes {
    display: flex;
  }
  
  .social p {
    text-align: center;
  }
  
  .box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box h4{
    color: aquamarine;
  }

  .box p{
    color: whitesmoke;
  }

  /* */