@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(".././assets/img/FundoJujutsu.JPG");
}

.login{
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

.login h2{
    margin-bottom: 30px;
    font-size: 30px;
    color: orangered;
    text-align: center;
}

.login .box_usuario{
    position: relative;
}

.login .box_usuario input{
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .box_usuario label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: rgb(192, 76, 33);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.login .box_usuario input:focus~label,
.login .box_usuario input:valid~label{
    top: -20px;
    left: 0;
    color: orangered;
    font-size: 12px;
}

.forget{
    font-size: 12px;
    color: orangered;
    float: right;
}

.botao{
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: orangered;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 20px;
    transition: .5s;
}

.botao:hover{
    background-color: #ff4500;
    border-radius: 5px;
    color: rgb(15, 15, 15);
}

.botao span{
    position: absolute;
    display: block;
}

.botao span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transition, #ff4500);
    animation: botao1 1s linear infinite;
}
@keyframes botao1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}